Ass2-SearchMashup-BPEL/bpelContent/SimpleAjaxMashupArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://code.google.com/p/fit5030assignment/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:wsdl="http://webservice.searchclient.two.ass.fit5030" name="SimpleAjaxMashup" targetNamespace="http://code.google.com/p/fit5030assignment/">

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		TYPE DEFINITION - List of types participating in this BPEL process The BPEL 
		Designer will generate default request and response types but you can define 
		or import any XML Schema type and use them as part of the message types. 
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <plnk:partnerLinkType name="SimpleAjaxSearch">
    <plnk:role name="querier" portType="wsdl:SimpleAjaxPortType"/>
  </plnk:partnerLinkType>
    <import location="ref/SimpleAjax.wsdl" namespace="http://webservice.searchclient.two.ass.fit5030"/>
    <types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://code.google.com/p/fit5030assignment/">

			<element name="SimpleAjaxMashupRequest">
				<complexType>
					<sequence>
						<element name="target" type="string"/>
						<element name="q" type="string"/>
						<element name="from" nillable="true" type="date"/>
						<element name="to" nillable="true" type="date"/>
						<element name="days" nillable="true" type="int"/>
						<element name="page" nillable="true" type="int"/>
						<element name="size" nillable="true" type="int"/>
					</sequence>
				</complexType>
			</element>

			<element name="SimpleAjaxMashupResponse">
				<complexType>
					<sequence>
						<element name="result" type="string"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		MESSAGE TYPE DEFINITION - Definition of the message types used as part of 
		the port type defintions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<message name="SimpleAjaxMashupRequestMessage">
		<part element="tns:SimpleAjaxMashupRequest" name="payload"/>
	</message>
	<message name="SimpleAjaxMashupResponseMessage">
		<part element="tns:SimpleAjaxMashupResponse" name="payload"/>
	</message>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		PORT TYPE DEFINITION - A port type groups a set of operations into a logical 
		service unit. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<!-- portType implemented by the SimpleAjaxMashup BPEL process -->
	<portType name="SimpleAjaxMashup">
		<operation name="process">
			<input message="tns:SimpleAjaxMashupRequestMessage"/>
			<output message="tns:SimpleAjaxMashupResponseMessage"/>
		</operation>
	</portType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		PARTNER LINK TYPE DEFINITION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<plnk:partnerLinkType name="SimpleAjaxMashup">
		<plnk:role name="SimpleAjaxMashupProvider" portType="tns:SimpleAjaxMashup"/>
	</plnk:partnerLinkType>


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		BINDING DEFINITION - Defines the message format and protocol details for 
		a web service. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		SERVICE DEFINITION - A service groups a set of ports into a service unit. 
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<binding name="SimpleAjaxMashupSoapBinding"
		type="tns:SimpleAjaxMashup">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="process">
			<soap:operation
				soapAction="http://code.google.com/p/fit5030assignment/process" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="SimpleAjaxMashupService">
		<port name="SimpleAjaxMashupPort" binding="tns:SimpleAjaxMashupSoapBinding">
			<soap:address location="http://localhost:8080/ode/processes/SimpleAjaxMashup" />
		</port>
	</service>
</definitions>
