Ass2-SearchMashup-BPEL/bpelContent/SimpeAjaxMashupArtifacts.wsdl

<?xml version="1.0"?>
<definitions name="SimpeAjaxMashup"
	targetNamespace="http://code.google.com/p/fit5030assignment/"
	xmlns:tns="http://code.google.com/p/fit5030assignment/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		TYPE DEFINITION - List of types participating in this BPEL process The BPEL 
		Designer will generate default request and response types but you can define 
		or import any XML Schema type and use them as part of the message types. 
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<types>
		<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://code.google.com/p/fit5030assignment/type"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="inputType">
				<sequence>
					<element name="q" type="string" />
					<!-- 
					<element name="target" type="string" />
					<element name="from" nillable="true" type="date" />
					<element name="to" nillable="true" type="date" />
					<element name="days" nillable="true" type="int" />
					<element name="page" nillable="true" type="int" />
					<element name="size" nillable="true" type="int" /> -->
				</sequence>
			</complexType>
		</schema>
		<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://code.google.com/p/fit5030assignment/" xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:type="http://code.google.com/p/fit5030assignment/type">
			<import namespace="http://code.google.com/p/fit5030assignment/type" />
			<element name="SimpeAjaxMashupRequest">
				<complexType>
					<sequence>
						<element name="input" type="type:inputType" />
					</sequence>
				</complexType>
			</element>

			<element name="SimpeAjaxMashupResponse">
				<complexType>
					<sequence>
						<element name="result" type="string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		MESSAGE TYPE DEFINITION - Definition of the message types used as part of 
		the port type defintions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<message name="SimpeAjaxMashupRequestMessage">
		<part name="payload" element="tns:SimpeAjaxMashupRequest" />
	</message>
	<message name="SimpeAjaxMashupResponseMessage">
		<part name="payload" element="tns:SimpeAjaxMashupResponse" />
	</message>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		PORT TYPE DEFINITION - A port type groups a set of operations into a logical 
		service unit. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<!-- portType implemented by the SimpeAjaxMashup BPEL process -->
	<portType name="SimpeAjaxMashup">
		<operation name="process">
			<input message="tns:SimpeAjaxMashupRequestMessage" />
			<output message="tns:SimpeAjaxMashupResponseMessage" />
		</operation>
	</portType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		PARTNER LINK TYPE DEFINITION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<plnk:partnerLinkType name="SimpeAjaxMashup">
		<plnk:role name="SimpeAjaxMashupProvider" portType="tns:SimpeAjaxMashup" />
	</plnk:partnerLinkType>


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		BINDING DEFINITION - Defines the message format and protocol details for 
		a web service. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		SERVICE DEFINITION - A service groups a set of ports into a service unit. 
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<binding name="SimpleAjaxMashupProcessBinding" type="tns:SimpeAjaxMashup">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="process">
			<soap:operation soapAction="http://code.google.com/p/fit5030assignment/process" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="SimpleAjaxMashupProcessService">
		<port name="SimpleAjaxMashupProcessPort" binding="tns:SimpleAjaxMashupProcessBinding">
			<soap:address location="http://localhost:8080/ode/processes/SimpeAjaxMashup" />
		</port>
	</service>
</definitions>